dj-database-url==0.4.2
Django
django-allauth==0.34.0
django-facebook==6.0.3
django-rest-framework-social-oauth2==1.0.8
facebook-sdk==2.0.0
gunicorn==19.6.0
Jinja2==2.9.6
oauthlib==2.0.2
whitenoise==3.3.0
psycopg2
