{% extends "base_generic.html" %}

{% block headstyle %}
    <style>
        .header {
            font-size: 16px;
        }

        .header .logoTop {
            margin-bottom: -112px;
        }

        .header .logoBottom {
            margin-top: -114px;
        }.credits-wrapper{
             position: relative !important;
             top: 50px!important;
         }
    </style>
{% endblock %}

{% block header %}
    <h1>LEADER<br>BOARD</h1>

{% endblock %}

{% block content %}
    <div class="leaderboard">
        <ul>

            {% for player in leaderboard %}
                <li>{{ player.getfullname }} - {{ player.getscore }} </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}