{% extends "base_generic.html" %}

{% block headstyle %}
    <style>
        .header {
            font-size: 16px;
        }

        .header .logoTop {
            margin-bottom: -112px;
        }

        .header .logoBottom {
            margin-top: -114px;
        }.credits-wrapper{
             position: relative !important;
             top: 50px!important;
         }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
            border-bottom: 1px solid #ccc;
        }

        li:last-child {
            border: none;
        }

    </style>
{% endblock %}

{% block header %}
    <h1>LEADER<br>BOARD</h1>

{% endblock %}

{% block content %}
    <div class="leaderboard">
        <ul>

            {% for player in leaderboard %}
                <li>{{ player.getfullname }} - {{ player.getscore }} </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}