{% extends "base_generic.html" %}

{% block headstyle %}
    <style>
        .header {
            font-size: 17px;
        }

        .header .logoTop {
            margin-bottom: -115px;
        }

        .header .logoBottom {
            margin-top: -116px;
        }
        .credits-wrapper{
            position: relative !important;
            top: 50px!important;
        }
    </style>
{% endblock %}

{% block header %}
    <h1> MUNNY </h1>
{% endblock %}

{% block content %}
    <div class="text-container" style="margin: 5px;">
        <div id="text-container-b">
            <h1>Information Page</h1>
            <br>
        </div>
        <div id="text-container-b">
            <h3>With the best intentions.</h3>
            <p>With the best of intentions we created with App to improve the social aspect of MUNNY. We often feel that
                there is
                so much so do we wont get to meet all the wonderful, interesting and inspiring people of MUNNY. This app
                houses a
                range of features that we feel all support the MUNNY experience, please read the briefs below and play
                around for a bit.</p>
            <br></div>
        <div id="text-container-b">
            <h3>Fruitful or not</h3>
            <p>Nobody really know why fruitful is such a frequent word in political speeches, but it is. We made a
                mini-game in this
                app such that you can bet on wether or not you think a speaker will say fruitful in their speech (or
                not). Tap the icons
                below to find it.</p>
            <br></div>
        <div id="text-container-b">
            <h3>Support Tickets</h3>
            <p>We often find that people are running back and forth to and from ad-staff with requests and questions.
                With the
                new ticket system you can pass simple messages to ad-staff directly on your phone.</p>
            <br>
        </div>
        <div id="text-container-b">
            <h3>MUNNY Friend-Finder</h3>
            <p>The Friend-Finder system is truly a first for MUNNY. For all those awesome people you meet but never
                remember to add on facebook.
                We have the friend-finder tool for both native students and guests. It requires a <em>very</em>simple
                facebook registration
                and then you just have to find and request a facebook page from the people you want to add. Once they
                request your's you will
                see each others pages as links on the page.</p>
            <br>
        </div>
        <div id="text-container-b">
            <h4>For those pesky bugs!</h4>
            <p>If you find a fault or error in the system (app). Please feel free to consult me (Benjamin Rasmussen) as
                i will fix it post-haste in such case. Otherwise have a great time at MUNNY!</p>
        </div>
        <br>
        <div id="text-container-b">

            <h4>Notice from party committee</h4>
            <p>The party comittee would like you, the social event participant,
                to bring cash in the form of preferably DKK. in order to make transactions at the events.<br>
            </p>
        </div>
        <br>
        <div id="text-container-b">
            <h4>Credit</h4>
            <p>Please take a moment and consider the effort that went into the development of this web-app. <a href="{% url 'src:credits' %}">View the credits
                page here.</a><br>
                </p>
        </div>
        <br>
    </div>

 {% endblock %}