{% extends "base_generic.html" %}

{% block headstyle %}
    <style>
        .header {
            font-size: 14px;
        }

        .header .logoTop {
            margin-bottom: -114px;
        }

        .header .logoBottom {
            margin-top: -116px;
        }

    </style>
{% endblock %}

{% block header %}
    <h1>MUNNY<br>FRIENDS</h1>
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Avatar</th>
            <th>Name</th>
            <th style="text-align: right">Add button?</th>
        </tr>
        {% for card in confirmedmatches %}
            <tr>
                <td>
                    <img src="{{ card.get_avatar_url }}" style="height: 64px; max-width: 85px;">
                </td>
                <td>
            {{ card.__str__ }}
                </td>
                <td>
                    <a href="https://www.facebook.com/app_scoped_user_id/{{ card.uid }}'/'">Add here</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}