{% extends "base_generic.html" %}


{% block headstyle %}
    <style>
        .header {
            font-size: 14px;
        }

        .header .logoTop {
            margin-bottom: -108px;
        }

        .header .logoBottom {
            margin-top: -110px;
        }

        .content p {
            text-align: center;
        }
        .credits-wrapper{
            position: relative !important;
            top: 50px!important;
        }
    </style>
{% endblock %}


{% block header %}
    <h1>ADSTAFF</h1>
{% endblock %}

{% block content %}
    <p>The ticket system is simple. Write out your message to ad-staff and they will receive it. Remember details like
        room etc.</p>
    <div class="form-container">
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <textarea class="titlearea" id="title" type="text" name="title" vlaue="{{ title }}"
                      placeholder="Title or short summary." style="height: 50px;" required maxlength="50"></textarea>
            <textarea class="textarea" id="besked" type="text" name="besked" value="{{ besked }}"
                      placeholder="Please remember which room you are in, and to write this message in a short manner, nobody wants essays!"
                      style="margin-bottom: 25px " required></textarea>
            <br>
            <input class="button" type="submit" value="Submit">
        </form>
    </div>

    <div class="Message-box">
        <h2 style="text-align: center">Your tickets:</h2>

        {% for ticket in tickets %}
            <h3 style="border-top: 2px black solid">{{ ticket.Title }}</h3>
            <p>"{{ ticket.Text }}"</p>
            <p>-{{ ticket.Writer.getfullname }} on {{ ticket.InitDate }}</p>
            {% if ticket in ticketreplies %}
                {% for reply in ticketreplies %}
                {% endfor %}
            {% endif %}

            <!-- Renders Replies -->
            {% for reply in ticketreplies %}
                {% if ticket.id == reply.Ticket.id %}
                    <h2> Reply: </h2>
                    <h3>{{ reply.Writer.getfullname }} wrote:</h3>
                    <p>{{ reply.Text }}. <br></p> <p style="text-align: right">Date:{{ reply.InitDate }}</p>
                {% endif %}
            {% endfor %}

        {% endfor %}
        <div style="border-bottom: 2px black solid"></div>

    </div>

{% endblock %}