{% extends "base_generic.html" %}

{% block headstyle %}
    <style>
        .header {
            font-size: 14px;
        }

        .header .logoTop {
            margin-bottom: -108px;
        }

        .header .logoBottom {
            margin-top: -110px;
        }

        .Message-box {
            margin: 2%;
        }

        .reply-container textarea {
            width: 70%;
            height: 50px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #AAAAAA;
            background-color: #f8f8f8;
            resize: none;
            text-align: left;
            display: block;
            float: left;
            border-top-right-radius: 5px !important;
            border-bottom-right-radius: 5px !important;
            border-radius: 30px !important;


        }

        .reply-container input {
            background-color: white;
            border: 2px solid #FFB757;
            color: black;
            float: left;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            width: 20%;
            height: 50px;
            border-top-right-radius: 5px !important;
            border-bottom-right-radius: 5px !important;
            border-radius: 30px !important;
        }

        .reply-container input:hover {
            text-decoration: none;
            background-color: #FFB757; /* Green */
            color: white;
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }

        .credits-wrapper{
            position: relative !important;
            top: 50px !important;
        }
        .Message-box{
            position: relative;
        }
        .Message-box ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .Message-box ul li {
            display: inline-block;
            clear: both;
            padding: 5px;
            border-radius: 30px;
            margin-bottom: 2px;
            font-family: Helvetica, Arial, sans-serif;
        }

        .Message-box .ticket {
            background: #eee;
            float: left;
        }

        .Message-box .reply {
            width: 80%;
            float: right;
            background: #0084ff;
            color: #fff;
        }

        .Message-box .ticket + .reply {
            border-bottom-right-radius: 5px;
        }

        .Message-box .reply + .reply {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .Message-box .reply:last-of-type {
            border-bottom-right-radius: 30px;
        }
    </style>
{% endblock %}


{% block header %}
    <h1>SUPPORT<br>TICKETS</h1>
{% endblock %}

{% block content %}

    <div class="Message-box">

        <h2 style="text-align: center">Tickets:</h2>
        <ul>
            <!-- Tickets with a reply form attatched -->
            {% for ticket in tickets %}
                <li class="ticket">
                    <h3>{{ ticket.Title }}</h3>
                    <p>"{{ ticket.Text }}"</p>
                    <p style="text-align: right">-{{ ticket.Writer.getfullname }}
                        on {{ ticket.InitDate }}</p>
                </li>

                <!-- Renders Replies -->
                <li class="reply">

            {% for reply in ticketreplies %}
                    {% if ticket.id == reply.Ticket.id %}
                            <div>
                                <h3 style="text-align: left">{{ reply.Writer.getfullname }} wrote:</h3>
                                <p>{{ reply.Text }}. <br></p>
                                <p style="text-align: right">Date:{{ reply.InitDate }}</p>
                            </div>

                    {% endif %}
                {% endfor %}

                <div class="reply-container">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input class="ticketobject" type="hidden" name="ticketobject" id="{{ ticket.id }}"
                               value="{{ ticket }}">
                        <textarea class="reply" id="reply" type="text" name="reply" value="{{ reply }}"
                                  placeholder="Reply visible to the writer of the ticket." style="height: 50px !important;"
                                  required></textarea>
                        <input style="width: 20%; height: 50px;" class="button" type="submit" value="Submit">
                    </form>
                </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}