{% extends "base_generic.html" %}
{% block headstyle %}
    <style>

        html, body {
            margin: 0;
        }

        body {
            -webkit-perspective: 500px;
            -moz-perspective: 500px;
            perspective: 500px;
        }

        .animate {
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s;
        }

        #hit {
            padding: 10px;
        }

        #log {
            position: absolute;
            padding: 10px;
        }

        .ovrley {
            position: fixed; /* Sit on top of the page content */
            display: none; /* Hidden by default */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
            z-index: 999; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
        }

        .ovrley .overlay-girdcont {
            padding: 0;
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 100%;
            grid-template-areas: "title" "middle" "bottom";
        }

        .ovrley #over-title {
            grid-area: title;
        }

        .ovrley #over-mid {
            grid-area: middle;
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: 40% auto 40%;
            grid-template-areas: "left" "middle" "right";
            width: 100%;
        }

        .ovrley #over-mid #pic img {
            max-width: 250px;
            border-radius: 50%;
            border: 2px solid white;
            width: 64px;
            height: 64px;
        }

        .ovrley #over-mid #pic .leftpic {
            grid-row: 1;
            grid-column: 1;
            margin: auto;
            display: block;
        }

        .ovrley #over-mid #add {
            grid-row: 1;
            grid-column: 2;
            margin: auto;
            display: block;
        }

        .ovrley #over-mid #pic .rightpic {
            grid-row: 1;
            grid-column: 3;
            margin: auto;
            display: block;
        }

        .ovrley #over-bot {
            grid-area: bottom;

        }

        .ovrley #over-bot button {
            background-color: rgba(0, 0, 0, 0.0);
            border: 2px solid white;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            margin: auto;
            display: block;
            font-size: 24px;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            width: 80%;
        }

        .container-button-container {
            position: relative;
            margin: 0 auto;
            display: block;
        }

        .button-container {
            z-index: 1;
            position: absolute;
            left: 0;
            right: 0;
            top: 100px;
            margin: 0 auto;
            padding: 15px 45px;
            width: 150px;
            border: 1px solid #000;
            border-radius: 5px;
            background-color: transparent;
            color: #000;
            transition: all .3s;
        }


    </style>
{% endblock %}

{% block header %}
    <h1 style="font-family: 'Cambo', serif; line-height: 1 ">FRIEND<br>FINDER</h1>
{% endblock %}

{% block content %}
    <script type="text/javascript" src="/src/static/js/js/jquery.min.js"></script>
    <!-- transform2d lib -->
    <script type="text/javascript" src="/src/static/js/js/jquery.transform2d.js"></script>
    <!-- jTinder lib -->
    <script type="text/javascript" src="/src/static/js/js/jquery.jTinder.js"></script>
    <!-- jTinder initialization script -->
    <script type="text/javascript" src="/src/static/js/js/main.js"></script>

    <div id="log"></div>
    <div class="wrap">
        <div class="container-button-container">
            <div class="button-container">
                <button class="Reloadbutton" type="button" value="Refresh Page" onClick="window.location.reload()">
                    Reload
                    page
                </button>
                <a href="{% url 'src:matches' %}">See Friend-Finder Matches</a>
            </div>
        </div>
        <div class="td-cards">
            <div id="tinderslide">
                <!-- TODO  Make this the acutal number of matches... and a link to such page using view context.-->
                {% if confirmedmatcheslen != 0 %}
                    <a href="{% url 'src:matches' %}">
                        <div class="circleBase"><p>{{ confirmedmatcheslen }}</p></div>
                    </a>
                {% endif %}
                <ul>
                    {% for cards in facebookaccounts %}
                        <li>
                            <div class="td-card" style="overflow: visible;">
                                <div class="image"><img src="{{ cards.get_avatar_url }}"
                                                        style="border-bottom: black 2px solid;">
                                    <div class="image-text-area-container">
                                        <div class="float-container">
                                            <div class="float-left">
                                                <p style="font-size: 18px;"><b>{{ cards.extra_data.name }}</b></p>
                                                <p></p>
                                            </div>
                                            <div class="float-right">

                                                <!-- TODO Make this take facebook into and an actual link (not button) -->
                                                <a id="addfirendbutton" rel="external" ontouchstart="test('{{ cards.uid }}')" onclick="test('{{ cards.uid }}')"
                                                   href="javascript:test('{{ cards.uid }}');" data-info="{{ cards.uid }}">
                                                    <img id="buttonforadding{{ cards.uid }}"
                                                         src="/src/static/images/Icons/64/ADD.png"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="like"></div>
                            <div class="dislike"></div>
                        </li>
                        <div class="ovrley" id="overlay{{ cards }}">
                            <div class="overlay-girdcont">
                                <div id="over-title"><img src="/src/static/images/match_text.png/" style="max-width: 80%;   display: block;
                                                                                                margin-left: auto;
                                                                                    margin-right: auto; margin-top: 50px;">
                                </div>
                                <div id="over-mid">
                                    <div class="leftpic" id="pic" style="margin: auto; display: block;"><img
                                            id="leftpic"
                                            src="{{ currentFacebookAccount.get_avatar_url }}"></div>
                                    <div id="add"><a id="addbutton{{ cards.uid }}" href=""><img
                                            src="/src/static/images/Icons/64/ADD.png"></a></div>
                                    <div class="rightpic" id="pic" style="margin: auto;
                                        display: block;"><img id="rightpic" src="{{ cards.get_avatar_url }}"></div>
                                </div>
                                <div id="over-bot">
                                    <button id="keep-going" onclick="off('{{ cards }}')">Keep Playing!</button>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">

                            function test(matchee) {
                                $.ajax({
                                    type: "GET",
                                    url: "/src/friendfinderajaxcall/",
                                    async: true,
                                    cache: false,
                                    dataType: "json",
                                    data: {
                                        csrfmiddlewaretoken: "{{ csrf_token }}",
                                        matcher: "{{ currentFacebookAccount.uid }}",
                                        matchee: matchee,
                                    },
                                    success: function (json) {
                                        on(json.matchee);
                                        document.getElementById('buttonforadding' + matchee).src = "/src/static/images/Checkmark.png";
                                        document.getElementById('leftpic').src = "{{ currentFacebookAccount.get_avatar_url }}";
                                        document.getElementById('addbutton' + matchee).href = "https://www.facebook.com/app_scoped_user_id/" + matchee + "/";
                                        document.getElementById('rightpic').src = "{{ cards.get_avatar_url }}";
                                    }
                                });
                            }

                            $("#addfirendbutton").on('vclick', function () {
                                function test(matchee) {
                                    $.ajax({
                                        type: "GET",
                                        url: "/src/friendfinderajaxcall/",
                                        async: true,
                                        cache: false,
                                        dataType: "json",
                                        data: {
                                            csrfmiddlewaretoken: "{{ csrf_token }}",
                                            matcher: "{{ currentFacebookAccount.uid }}",
                                            matchee: matchee,
                                        },
                                        success: function (json) {
                                            on(json.matchee);
                                            document.getElementById('buttonforadding' + matchee).src ="/src/static/images/Checkmark.png";
                                            document.getElementById('leftpic').src = "{{ currentFacebookAccount.get_avatar_url }}";
                                            document.getElementById('addbutton' + matchee).href = "https://www.facebook.com/app_scoped_user_id/" + matchee + "/";
                                            document.getElementById('rightpic').src = "{{ cards.get_avatar_url }}";
                                        }
                                    });
                                }
                            });

                            function on(overlayid) {
                                document.getElementById("overlay" + overlayid).style.display = "block";
                            }

                            function off(overlayid) {
                                document.getElementById("overlay" + overlayid).style.display = "none";
                            }


                            $(document).on('touchstart', '#addfirendbutton', function(e){
                                 test($("#addfirendbutton").getAttribute("data-info"));
                                e.this.src="/src/static/images/Checkmark.png";
                            });


                        </script>

                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


    <!-- jQuery lib -->
    <script type="text/javascript" src="/src/static/js/js/jquery.min.js"></script>
    <!-- transform2d lib -->
    <script type="text/javascript" src="/src/static/js/js/jquery.transform2d.js"></script>
    <!-- jTinder lib -->
    <script type="text/javascript" src="/src/static/js/js/jquery.jTinder.js"></script>
    <!-- jTinder initialization script -->
    <script type="text/javascript" src="/src/static/js/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% endblock %}
